.ttl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    width: 70%;
}

.ttl img {
    width: 18px;
    height: 18px;
}

.ttl h3 {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #2D3748;
}