*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.profilepage{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #F8F9FA;
}
.profileData{
    background-image: url("/public/Images/cover.png");
    background-repeat: no-repeat;
    background-size: 100% 30vh;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
}
.boxex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
