*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tablepage{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #F8F9FA;
}
.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data{
    width: 100%;
}
.collec{
    width: 100%;
}