*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tablepage{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #F8F9FA;
}


.data{
    width: 100%;
}
.collec{
    width: 100%;
}